<%= render 'partials/navbar' %>

<h2 class="raleway">Messenger.</h2>

<div class="divider">
</div>

  <div class="row">
    <div class="col m4 offset-m4">
      <% if @over_ten %>
        <%= link_to 'Show Previous', '?m=all' %>
      <% end %>
    </div>
  </div>

<div class="ui segment">
  <% @messages.each do |message| %>
    <div class="row">
      <% if message.body %>
        <div class="col m6 offset-m3 divider-div">
          <% user = User.find(message.user_id) %>
          <div class="raleway right">
            <strong><%= user.first_name %></strong> @ <%= message.message_time %>
          </div>
          <br>
          <div class="button-smaller-top button-space raleway">
            Subject: <strong><%= message.subject %></strong>
          </div>
          <div class="button-smaller-top button-space">
            <%= message.body %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="row">
      <div class="col m5 offset-m3">
        <label for="last_name">Subject:</label>
        <%= f.text_field :subject, class: "form-control" %>
      </div>
      <div class="col m5 offset-m3">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <%# if @message.body.blank? %>
        <!-- <div class="col m5 offset-m3"> -->
          <%#= f.text_area :body, class: "form-control" %>
        <!-- </div> -->
      <%# end %>
      <div class=" col m2">
        <%= f.submit "Send", class: "waves-effect waves-light btn" %>
      </div>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <% end %>

<div class="right button-space">
  <%= link_to 'Back', conversations_path %>
</div>
