<% unless @photograph.has_auction? %>

  <h3>Put product for auction:</h3>

  <%= form_for [ @photograph, Auction.new ] do |f| %>
    <p>
      <%= f.label :value %>
      <%= f.text_field :value %>
    </p>
    <p>
      <%= f.label :ends_at %>
      <%= f.datetime_select :ends_at %>
      <%= f.button 'Create Auction' %>
    </p>
  <% end %>
<% end %>
