<% if user_signed_in? %>
  <% if @photograph.has_auction? %>
    <% if @photograph.auction.ended? %>
      <%= render 'auctions/status' %>
    <% else %>
      <%= form_for [ @photograph,  @photograph.auction, Bid.new], html: { multipart: true } do |f| %>
          <% if @photograph.auction.top_bid %>
            <% if @photograph.auction.top_bid.user_id == current_user.id %>
              <div class="row raleway">
                <div class="col m4 offset-m4 center-align button-space-top">
                  <strong>Current Bid: </strong> <br>
                  AUD$ <%= @photograph.auction.current_bid %>
                </div>
              </div>
            <% else %>
              <div class="row raleway">
                <div class="col m4 offset-m4 center-align button-space-top">
                  <strong>You were outbid, new current bid: </strong> <br>
                  AUD$ <%= @photograph.auction.current_bid %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="row raleway">
              <div class="col m4 center-align offset-m4 button-space-top">
                <strong>Minimum Bid is: </strong> <br>
                AUD$ <%= @photograph.auction.current_bid %>
              </div>
            </div>
          <% end %>

          <div class="row raleway">
            <div class="col m4 center-align offset-m4">
              <strong>Ends at: </strong> <br>
              <%= l(@photograph.auction.ends_at, format: :short) %>
            </div>
          </div>

        <!-- <div class="bgimg">
           <div class="middle">
             <p id="demo"></p>
           </div>
         </div>
         <br>

         <script>
           // Set the date we're counting down to
           var countDownDate = new Date("<%= @photograph.auction.ends_at %>").getTime();
           // Update the count down every 1 second
           var countdownfunction = setInterval(function() {
               // Get todays date and time
               var now = new Date().getTime();
               // Find the distance between now an the count down date
               var distance = countDownDate - now;
               // Time calculations for days, hours, minutes and seconds
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);
               // Output the result in an element with id="demo"
               document.getElementById("demo").innerHTML = days + " days " + hours + "h "
               + minutes + "min " + seconds + "s ";
               // If the count down is over, write some text
               if (distance < 0) {
                   clearInterval(countdownfunction);
                   document.getElementById("demo").innerHTML = "EXPIRED";
               }
           }, 1000);
         </script> -->

             <div class="input-field col m4 offset-m4">
               <label for="password">Amount</label>
                <%= f.text_field :value, class: "validate" %>
              </div>
              <div class="col m12 center-align">
                <%= f.button 'Place Bid', class: "waves-effect waves-light btn"%>
              </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
