<div class="row">
  <div class="col-md-6 pull-right grey-link">
    <ul class="home-navbar-ul">
      <li>
        <% if user_signed_in? %>
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
          <% if current_user.admin? %>
            <%= link_to('Admin Dashboard |', pages_admin_dashboard_path) %>
            <% end %>
          <%= current_user.first_name %> <%= current_user.last_name %> |
          <%= link_to('Logout |', destroy_user_session_path, :method => :delete) %>
          <%= link_to('Edit Account', edit_user_registration_path) %>
        <% elsif influencer_signed_in? %>
          <span class="raleway"><%= current_influencer.first_name %> <%= current_influencer.last_name %></span> |
          <%= link_to('Logout |', destroy_influencer_session_path, :method => :delete) %>
          <%= link_to('Edit Account', edit_influencer_registration_path) %>
        <% else %>
          <%= link_to('Member |', new_user_session_path)  %>
          <%= link_to('Influencer', new_influencer_session_path)  %>

        <% end %>

      </li>
    </ul>
  </div>
</div>
