<h1 class="text-center"><%= @user.first_name %> <%= @user.last_name %>'s Dashboard</h1>

<h2>Account Information</h2>

<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>e-mail: <%= @user.email %></p>
<p>Mobile Number: <%= @user.mobile %></p>
<p>Invoice Address: <%= @user.address %></p>

<h2>Favourites</h2>


<h2>Bids</h2>


<h2>Purchased</h2>
