<%= render "partials/navbar" %>

<p><%= flash[:notice] %></p>

<div class="carousel picture-card">
  <% @photographs.each do |photograph| %>
   <a class="carousel-item" href="#">
     <%= image_tag photograph.image.url(:medium), class: "home-img-size one-edge-shadow" %>
     <p class="center-align raleway font-black carousel-text"><%= photograph.title %><br><span class="nothing-font carousel-span-text"> by </span><br><%= photograph.author %></p>
   </a>
  <% end %>
</div>

<div class="divider"></div>
