<%= render "partials/navbar" %>

<div class="contact-flash center-align raleway-bold italic">
  <p><%= flash[:notice] %></p>
</div>

<div class="row blurb-section center-align">
  <div class="col m12 center-align">
    <div class="home-title">
      <h2 class="raleway button-space">We are Influence This.</h2>
    </div>
  </div>
</div>

<div class="row picture-card center-align">
  <div class="col m4">
    <h4 class="raleway-bold button-space">We Care.</h4>
    <p class="grey-link">100% of profits made from each auctioned item goes to charity. For a list of charities we are currently involved with please click <a class="italic "href="/pages/charity ">here</a>. If youa are a charity would like to reach out to us please <a class="italic "href="/pages/connect">contact us</a>.</p>
  </div>
  <div class="col m4">
    <h4 class="raleway-bold button-space">We Connect.</h4>
    <p class="grey-link">We specialise in charity and influencer collaboration. Our featured influencers are carefully chosen and are the influencers of the digital age. To see who we are currently collaborating with please view our <a class="italic" href="/lists/influencer_list">influencers</a>.</p>
  </div>
  <div class="col m4">
    <h4 class="raleway-bold button-space">We Deliver.</h4>
    <p>Each influencer's expertise in their chosen field assures the highest quality of work; combined with our printing sponsors <span class="italic">HQ Print</span>, we guarantee quality and satisfaction with all our items.</p>
  </div>
</div>

<div class="divider contact-box"></div>

<div class="carousel picture-card">
  <% @photographs.each do |photograph| %>
   <a class="carousel-item" href="/photographs">
     <%= image_tag photograph.image.url(:medium), class: "home-img-size one-edge-shadow" %>
     <p class="center-align raleway font-black carousel-text"><%= photograph.title %><br><span class="nothing-font carousel-span-text"> by </span><br><%= photograph.author %></p>
   </a>
  <% end %>
</div>

<div class="row footer footer-div center-align grey-link">
  <div class="col m3">
    <p class="raleway-bold">About Us</p>
    <a class="italic" href="/pages/about">About Us</a> <br>
    <a class="italic" href="/pages/about">FAQ</a> <br>
    <p class="raleway-bold">Charities</p>
    <a class="italic" href="/pages/charity">List of Charities</a> <br>
  </div>
  <div class="col m3">
    <p class="raleway-bold">Auctions</p>
    <a class="italic" href="/photographs">Current Auctions</a> <br>
    <p class="raleway-bold">Contact</p>
    <a class="italic" href="/connect">Contact Information</a> <br>
    <a class="italic" href="/conect">Contact Form</a> <br>
    <% if user_signed_in? %>
      <a class="italic" href="/conversations">Mailbox</a>
    <% end %>
  </div>
  <div class="col m3">
    <p class="raleway-bold">Login</p>
    <a class="italic" href="/users/sign_up">Sign Up</a> <br>
    <a class="italic" href="/users/sign_in">Login Member</a> <br>
    <a class="italic" href="/influencers/sign_in">Login Influencer</a> <br>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <a class="italic" href="/pages/admin_dashboard">Admin Dashboard</a>
        <% end %>
    <% end %>
  </div>
  <div class="col m3">
    <p class="raleway-bold">Our Proud Sponsor</p>
    <img class="sponsor" src="http://res.cloudinary.com/df0hftplx/image/upload/v1493098606/Screen_Shot_2017-04-25_at_3.36.13_pm_l7nv6s.png">
</div>
