<%= render 'partials/navbar' %>

<h4 class="raleway button-smaller-top button-space italic">List of registered users.</h4>
  <table class="highlight centered">
    <thead class="raleway">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Contact</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %> </td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
          <td><%= user.address %></td>
          <td class="grey-link">
            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' do%>
              <i class="material-icons">email</i>
            <% end%>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>

<div class="right">
  <%= will_paginate @users %>
</div>
<br> <br>
<div class="row right">
  <%= link_to 'Back', pages_admin_dashboard_path %>
</div>
