<%= simple_form_for photograph, html: { multipart: true } do |f| %>
  <% if photograph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photograph.errors.count, "error") %> prohibited this photograph from being saved:</h2>

      <ul>
      <% photograph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row contact-content">
    <div class="col m5 offset-m5">
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m7 offset-m3">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m7 offset-m3">
      <div class="field">
        <%= f.label :author %>
        <%= f.text_field :author %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m5 offset-m5">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
