<%= render "partials/navbar" %>

<div class="row center-align">
    <h2 class="raleway"><%= link_to 'Place an item up for Auction', new_photograph_path if (current_user && current_user.admin?) || current_influencer %></h2>
</div>

<%= search_form_for @search do |f| %>
  <div class="row">
    <div class="col m4 offset-m3">
      <div class="field">
        <%= f.label :title_or_author_cont, "Title/Author contains" %>
        <%= f.text_field :title_or_author_cont %>
      </div>
    </div>
    <div class="col m3">
      <div class="actions waves-effect waves-light btn button-smaller-top"><%= f.submit "Search" %></div>
    </div>
  </div>
<% end %>


<div class="contact-flash center-align raleway italic">
  <p><%= flash[:warning] %></p>
</div>

<p id="notice"><%= notice %></p>
<div class="row">
  <% @photographs.each do |photograph| %>
    <div class="col s5 m4 center-align picture-card">
      <div class="card hoverable">
        <div class="card-image photo-size">
          <%= image_tag photograph.image.url(:medium) %>
          <span class="card-title raleway-bold"><%= photograph.title %></span>
        </div>
        <div class="card-action raleway-bold">
          <%= link_to photograph.author, photograph_path(photograph) %> <br>
          <!-- <a href="#">This is a link</a> -->
          <%= link_to 'Edit', edit_photograph_path(photograph) if (current_user && current_user.admin?) || current_influencer %>
          <%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } if (current_user && current_user.admin?) || current_influencer %>
        </div>
      </div>
    </div>
  <% end %>
</div>
