<%= render "partials/navbar" %>

<p id="notice"><%= notice %></p>

<div class="row">
  <% @photographs.each do |photograph| %>
    <div class="col s5 m4 center-align picture-card">
      <div class="card">
        <div class="card-image">
          <%= image_tag photograph.image.url(:medium) %>
          <span class="card-title"><%= photograph.title %></span>
        </div>
        <div class="card-action">
          <%= link_to photograph.author, photograph_path(photograph) %>
          <!-- <a href="#">This is a link</a> -->
          <%= link_to 'Edit', edit_photograph_path(photograph) %>
          <%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Photograph', new_photograph_path %>
