<%= render 'partials/navbar' %>

<div class="row">
  <div class="col m12">
    <h2 class="contact-title raleway italic"> <%= @photograph.title %><span style="font-size:40px; font-style:normal"> by </span><%= @photograph.author %>.</h2>
  <div class="divider"></div>
  </div>
</div>

<div class="row">
  <div class="col m6">
    <p id="notice"><%= notice %></p>
    <%= image_tag @photograph.image.url(:large) %>
  </div>

  <div class="col m 6">
    <%= render 'partials/auction' %>
    <%= render 'partials/bid' %>
    <p>
      <%= link_to 'Edit |', edit_photograph_path(@photograph) if (current_user && current_user.admin?) || current_influencer %>
      <%= link_to 'Back', photographs_path %>
    </p>
  </div>
</div>
