<p id="notice"><%= notice %></p>

<%= image_tag @photograph.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @photograph.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @photograph.author %>
</p>

<%= link_to 'Edit', edit_photograph_path(@photograph) if current_user.admin? %> |
<%= link_to 'Back', photographs_path %>
