<!DOCTYPE html>
<html>
  <head>
    <title>PCA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= render 'partials/home_navbar' %>
      <!-- <div class="row blurb-section center-align">
        <div class="col m12 center-align">
          <div class="home-title">
            <h2 class="raleway button-space">We are Influence This.</h2>
          </div>
        </div>
      </div> -->
      <%= yield %>
    </div>
  </body>
</html>
