<!DOCTYPE html>
<html>
  <head>
    <title>PCA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= render 'partials/home_navbar' %>
      <div class="row center-align">
        <img class="logo-size" src="http://res.cloudinary.com/df0hftplx/image/upload/v1493126315/Screen_Shot_2017-04-25_at_11.17.55_pm_y00r0a.png" alt="/">
      </div>
      <%= yield %>
    </div>
  </body>
</html>
